fastapi
uvicorn[standard]
requests
beautifulsoup4
yfinance
groq
python-dotenv
sqlalchemy
psycopg2-binary
pydantic
pandas
aiohttp
python-jose[cryptography]
bcrypt==4.0.1
pydantic[email]
python-multipart
